@import "src/scss/_variables";

/********************************************/
/*   # Create Card                         */
/******************************************/

.create-card {
  /*position*/
  position: relative;
  /*structure*/
  height: 21rem;
  width: 17rem;
  /*spacing*/
  margin-left: .9rem;
  margin-right: .9rem;
  margin-top: 2.5rem;
  margin-bottom: 2.5rem;
  padding: 0;
  /*borders*/
  border-radius: $cardBorderRadius;
  border-width: 4px;
  border-style: dotted;
  /*colors*/
  border-color: $colorLightGrey;

  /*************
  *  > Hover   *
  *************/

  /*hover*/
  &:hover {
    // border-color: $colorMediumGrey
    background-color: rgba($colorLighterGrey, .5);
  }

  /********************************************/
  /*   # Add Icon                            */
  /******************************************/


  &__add-icon {
    /*display*/
    display: block;
    /*position*/
    position: relative;
    top: 35%;
    /*structure*/
    height: 40px;
    width: 40px;
    /*spacing*/
    margin-left: auto;
    margin-right: auto;
  }

  /************
  *  > Icon   *
  ************/

  &__icon {
    /*position*/
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }

  /*******************
  *  > Icon Circle   *
  *******************/

  &__icon-circle {
    /*position*/
    position: absolute;
    /*structure*/
    height: 100%;
    width: 100%;
    /*borders*/
    border-radius: 50%;
    /*colors*/
    background-color: $colorLightGrey;

    /*************
    *  > Hover   *
    *************/

    /*parent hover*/
    .create-card:hover & {
      background-color: $colorOrange;
    }

  }

  /********************************************/
  /*   # Title Link                          */
  /******************************************/

  &__title-link {
    /*display*/
    display: block;
    /*position*/
    position: absolute;
    top: 0;
    /*structure*/
    height: 100%;
    width: 100%;
    /*padding*/
    padding-top: 70%;
    /*typography*/
    text-align: center;
    font-size: 1.2rem;
    /*colors*/
    color: $colorDarkGrey;

    /*************
    *  > Hover   *
    *************/

    &:hover {
      /*typography*/
      text-decoration: none;
      /*colors*/
      // color: $colorBlack;

    }
  }


}
