@import 'src/scss/_variables';

/********************************************/
/*   # Card States                         */
/******************************************/

.card-states {
  /*typography*/
  font-weight: 200;
  font-size: .8rem;
  letter-spacing: .6px;
  /*colors*/
  color: $colorMediumGrey;

  /********************************************/
  /*   # Progress                            */
  /******************************************/

  &__progress {
    /*spacing*/
    margin-top: 5px;
  }

  &__progress-bar {}
}
