<div class="card-states">
  <div class="row">
    <div class="col card-states__per"><span class="prefix prefix--currency card-states__per-prefix">{{ perMonthCurrencySymbol }}</span><span class="card-states__per-number">{{ perMonthValue | truncateWithSuffix: false: 5 }}</span><span class="card-states__per-suffix">/ Month</span></div>
    <div class="col text-right card-states__workflow">
      <app-card-workflow [card]="card" [cardEditable]="cardEditable" (menuToggle)="onMenuToggle($event)"></app-card-workflow>
    </div>
  </div>
  <div class="card-states__progress progress">
    <div class="card-states__progress-bar progress-bar" role="progressbar" [ngStyle]="{ width: progressBarPercent + '%' }" attr.aria-valuenow="{{ progressBarPercent }}" aria-valuemin="0" aria-valuemax="100"></div>
  </div>
</div>
