@import 'src/scss/_variables';
@import 'src/scss/_mixins';

/********************************************/
/*   # Card States                         */
/******************************************/

.card-states {
  /*typography*/
  font-weight: 200;
  font-size: .8rem;
  letter-spacing: .6px;
  /*colors*/
  color: $colorMediumGrey;

  /********************************************/
  /*   # Progress                            */
  /******************************************/

  &__progress {
    /*spacing*/
    margin-top: 5px;
  }

  &__progress-bar {}

  /********************************************/
  /*   # Workflow                            */
  /******************************************/

  &__workflow {
    position: relative;
  }

}

@include hasTouch {

  .card-status__workflow {
    /*transform*/
    transform: scale(1.2);
    /*transition*/
    transition-property: transform;
    transition-duration: 500ms;
  }
}
