/*
Contains style overrides to Bootstrap's container class.
*/

/********************************************/
/*   # Container                           */
/******************************************/

$container_leftPadding: 10px;
$container_rightPadding: 10px;
$container_totalSidePadding: $container_leftPadding + $container_rightPadding;


.container { // default: 1 card width
  /*structure*/
  min-width: calc(#{$cardOuterWidth} + #{$container_totalSidePadding});
  max-width: calc(#{$cardOuterWidth} + #{$container_totalSidePadding});
  /*spacing*/
  padding-left: $container_leftPadding;
  padding-right: $container_rightPadding;

  // background-color: grey; // testing only

  @media (min-width: $deviceWidthSmall) { // 2 column width
    max-width: calc(#{$cardOuterWidth} * 2 + #{$container_totalSidePadding});
  }

  @media (min-width: $deviceWidthMedium) { // 3 column width
    max-width: calc(#{$cardOuterWidth} * 3 + #{$container_totalSidePadding});
  }

  @media(min-width: $deviceWidthLarge){ // 4 column width
    max-width: calc(#{$cardOuterWidth} * 4 + #{$container_totalSidePadding});
  }

  @media(min-width: $deviceWidthXLarge){ // 5 column width
    max-width: calc(#{$cardOuterWidth} * 5 + #{$container_totalSidePadding});
  }

}
