.filters-list {
  /*display*/
  display: block;


  &__filters {
    /*display*/
    display: block;
    /*position*/
    position: relative;
    /*spacing*/
    margin-top: 10px;
    /*colors*/
    background-color: rgb(255, 255, 255);
  }



}
