.progress {
  /*display*/
  display: block;
  /*structure*/
  height: 7px;
  width: 100%;
  /*borders*/
  border-radius: 0;
  /*colors*/
  background-color: $colorLightGrey;
}

.progress-bar {
  /*structure*/
  height: 7px;
  /*colors*/
  background-color: $colorOrange;
}
