/*
Contains style overrides to Bootstrap's progress bar.
*/

/********************************************/
/*   # Progress                            */
/******************************************/

.progress {
  /*display*/
  display: block;
  /*structure*/
  height: 7px;
  width: 100%;
  /*borders*/
  border-radius: 0;
  /*colors*/
  background-color: $colorLightGrey;
}

/********************************************/
/*   # Progress Bar                        */
/******************************************/

.progress-bar {
  /*structure*/
  height: 7px;
  /*colors*/
  background-color: $colorOrange;
}
