/********************************************/
/*   # Site Footer                         */
/******************************************/

.site-footer {
  /*position*/
  position: absolute;
  bottom: 0;
  background-color: grey;
}
