
/********************************************/
/*   # Card List                           */
/******************************************/

.card-list {
  /*position*/
  position: relative;
  /*structure*/
  width: 100%;
  /*spacing*/
  margin: 0;
  padding: 0;

  &__cards {
    /*structure*/
    // width: calc(100% + $cardMarginRight);
    width: 100%;
    /*spacing*/
    margin: 0;
    padding: 0;
    /*list*/
    list-style: none;

    &>li {
      /*display*/
      display: inline-block;
      /*position*/
      vertical-align: top;
    }
  }

  &__spinner {
    display: none;

    &--visible {
      display: block;
    }
  }
}
