
/********************************************/
/*   # Card List                           */
/******************************************/

.card-list {
  /*spacing*/
  margin: 0;
  padding: 0;
  /*list*/
  list-style: none;
}
