@import "src/scss/_variables";
@import "src/scss/_mixins";

/********************************************/
/*   # Card List                           */
/******************************************/

.card-list {
  /*position*/
  position: relative;
  /*structure*/
  width: 100%;
  /*spacing*/
  margin: 0;
  padding: 0;

  &--header-allotment { // create top space to allow for absolute/fixed header
    padding-top: $headerAllotmentTiny;
    @include atSmall {
      padding-top: $headerAllotmentSmall;
    }
    @include atMedium {
      padding-top: $headerAllotmentMedium;
    }
    @include atLarge {
      padding-top: $headerAllotmentLarge;
    }
    @include atXLarge {
      padding-top: $headerAllotmentXLarge;
    }
  }

  /********************************************/
  /*   # Cards                               */
  /******************************************/

  &__cards {
    /*structure*/
    width: 100%;
    /*spacing*/
    margin: 0;
    padding: 0;
    /*list*/
    list-style: none;

  }

  /********************************************/
  /*   # Card                                */
  /******************************************/

  &__card {
    /*display*/
    display: inline-block;
    /*position*/
    vertical-align: top;
    /*spacing*/
    margin-left: $cardMarginLeft;
    margin-right: $cardMarginRight;
    margin-top: 12px;
    margin-bottom: 12px;

    &--more-padding-at-small{
      @include atSmall{
        /*spacing*/
        margin-top: 2.5rem;
        margin-bottom: 2.5rem;
      }
    }
  }

  /********************************************/
  /*   # Spinner                             */
  /******************************************/

  &__spinner {
    /*display*/
    display: none;
    /*position*/
    position: absolute;
    z-index: 500;


    &--visible {
      display: block;

    }
  }
}
