<div id="main-content" class="card-list card-list--header-allotment">
  <ul class="card-list__cards card-list__cards--top-padding-for-header" *ngIf="initialApiReponseReceived">
    <li *ngFor="let card of cardList_filtered; trackBy: trackByState" class="card-list__card card-list__card--more-padding-at-small">
      <app-card [card]="card"></app-card>
    </li>
    <!-- <li *ngFor="let card of cardList_full; trackBy: trackByState" class="card-list__card card-list__card--more-padding-at-small"
    [ngClass]="{
      'hidden': displayList[card.id] === false
    }"> 
      <app-card [card]="card"></app-card>
    </li> -->
    <li class="card-list__card card-list__card--more-padding-at-small">
      <app-create-card></app-create-card>
    </li>
  </ul>
  <div id="spinner--card-list"
    class="card-list__spinner"
    [ngClass]="{
      'card-list__spinner--visible': !initialApiReponseReceived || awaitingApiResponseCt > 0
    }">
    <app-spinner color="orange" size="medium" position="fixed" overlay="true"></app-spinner>
  </div>
</div>
