@import "src/scss/_variables";

/********************************************/
/*   # Variables                           */
/******************************************/

// WARNING: Value dependent on the menu's position on the screen.
$cm_headerAllotment: 7rem;


/********************************************/
/*   # Campaing Menu                       */
/******************************************/

.campaign-menu__menu {

  &--max-height {
    max-height: calc(100vh - #{$cm_headerAllotment}); // prevent menu from going off screen
    overflow-y: scroll;
  }

}
