<div ngbDropdown class="dropdown drop-menu">
  <button ngbDropdownToggle class="drop-menu__toggle btn btn--outline btn-light btn--smidge-larger">
    <span class="btn__label">{{menuItems[selectedItemIndex]['label']}}</span>
    <span class="btn__icon btn__icon--right">
      <app-icon iconType="chevron-down" iconSize="x-small" iconColor="dark-grey"></app-icon>
    </span>
  </button>
  <div ngbDropdownMenu class="drop-menu">
    <!-- <ng-container > -->
      <div *ngFor="let item of menuItems" class="dropdown-item drop-menu__item">
        <button (click)="onItemClick(item)"
          class="btn list-group-item list-group-item-action {{ item.class }}">
          <span class="card-menu__lable">{{ item.label }}</span>
        </button>
      </div>
    <!-- </ng-container> -->
  </div>
</div>
