<div ngbDropdown class="dropdown drop-menu">
  <button ngbDropdownToggle class="drop-menu__toggle btn btn-light">
    {{listItems[selectedItemIndex]['label']}}
    <app-icon iconType="chevron-down" iconSize="small"></app-icon>
  </button>
  <div ngbDropdownMenu class="drop-menu">
    <ng-container *ngFor="let item of listItems">
      <div class="dropdown-item drop-menu__item">
        <a
          class="btn list-group-item list-group-item-action {{ item.classes }}"
          href="{{ item.destination }}">
          <span class="card-menu__icon"><app-icon [iconType]="item.icon" iconColor="dark-grey"></app-icon></span>
          <span class="card-menu__lable">{{ item.label }}</span>
        </a>
      </div>
    </ng-container>
  </div>
</div>
