@import "src/scss/_variables";
@import "src/scss/mixins";

/********************************************/
/*   # Variables                           */
/******************************************/

 // when the date count element wraps down,
// this will be the amount of margin between it and the date selector.
$ds_verticalSpaceWhenWrapped: 8px;

/********************************************/
/*   # Date Selector                       */
/******************************************/

.date-selector {
  /*position*/
  position: relative;
  top: 3px;
  /*spacing*/
  margin-top: $ds_verticalSpaceWhenWrapped * -1;

  /********************************************/
  /*   # Date Loop                           */
  /******************************************/

  &__select-date {
    /*display*/
    display: inline-block;
    /*position*/
    position: relative;
    /*structure*/
    width: 14.4rem;
    /*spacing*/
    padding-left: 25px;
    padding-right: 25px;
    margin-top: $ds_verticalSpaceWhenWrapped;
    /*typography*/
    text-align: center;
    white-space: nowrap;

    /*************
    *  > Ranged  *
    *************/

    .date-selector--ranged & {
      width: 18.5rem;
    }

  }

  /********************************************/
  /*   # Selected Date                       */
  /******************************************/

  &__selected-date-full {
    /*display*/
    display: inline-block;
    /*typography*/
    font-weight: 300;
    /*colors*/
    color: $colorRed;
  }

  /********************************************/
  /*   # Calender Icon                       */
  /******************************************/

  &__calender-icon {
    /*display*/
    display: inline-block;
    /*spacing*/
    margin-right: 8px;
  }

  /********************************************/
  /*   # Shift Icon                          */
  /******************************************/

  &__shift-icon {
    /*display*/
    display: inline-block;
    /*position*/
    position: absolute;
    /*structure*/
    // width: 10px;
    /*spacing*/
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 5px;
    padding-right: 5px;

    &--left {
      left: 1px;
    }

    &--right {
      right: 1px;
    }

    /************
    *  > Hover  *
    ************/

    &:hover {
      /*colors*/
      border-color: $colorLightGrey;
      background-color: $colorLighterGrey;
    }
  }

  /********************************************/
  /*   # Day Count                           */
  /******************************************/

  &__day-count {
    /*mixins*/
    @include textCapsule($colorRed, $colorWhite);
    /*display*/
    display: inline-block;
    /*position*/
    position: relative;
    top: -2px;
    /*structure*/
    width: 2.8rem;
    /*spacing*/
    margin-top: $ds_verticalSpaceWhenWrapped;
    margin-left: 20px;
    padding-left: 2px;
    padding-right: 2px;
    /*typography*/
    font-size: .7rem;
    font-weight: 300;

    &-text {
      /*position*/
      position: relative;
      /*typography*/
      text-align: center;
    }
  }


}
