/********************************************/
/*   # Column                              */
/******************************************/

.col {
  /*spacing*/
  padding-left: 10px;
  padding-right: 10px;
  margin-right: 0;
}

/********************************************/
/*   # Icon                                */
/******************************************/

.icon {
  /*spacing*/
  padding-right: 2px;
}
