@import "src/scss/_variables.scss";

/********************************************/
/*   # Card Menu                           */
/******************************************/

.card-menu {

  /********************************************/
  /*   # Toggle                              */
  /******************************************/

  &__toggle {
    /*structure*/
    height: 25px;
    width: 25px;
    /*spacing*/
    padding-top: 0;
    padding-left: 5px;
    margin-top: -1px;
    /*borders*/
    border-style: solid;
    border-color: $colorLightGrey;
    border-width: 1px;

  }

  /********************************************/
  /*   # Link List                           */
  /******************************************/

  &__link-list {
    /*structure*/
    min-width: 8.1rem;
    /*spacing*/
    padding: 0;
    margin-top: -2px;
  }

  /********************************************/
  /*   # Item                                */
  /******************************************/

  &__item {}

  /********************************************/
  /*   # Icon                                */
  /******************************************/

  &__icon {
    margin-right: 14px;
  }

  /********************************************/
  /*   # Lable                               */
  /******************************************/

  &__lable {
    /*typography*/
    font-size: .9rem;
    font-weight: 300;
    /*colors*/
    color: $colorBlack;
  }

}
