<div class="card" id="card-{{card.id}}" style="width: 17rem"
  (mouseenter)="onMouseEnter($event)"
  (mouseleave)="onMouseLeave($event)"
  [ngClass]="{
    'card--editable': cardEditable == true || cardMenusOpenCt > 0
  }">
  <img class="card__feature-image card-img-top" alt="" src="{{ card.primaryMediaUrl }}">
  <div class="card__body card-body">
    <h5 class="card__title card-title">{{ card.cardTitle }}</h5>
    <!-- <h5 class="card__title card-title">{{ testTitle }}</h5> -->
    <div class="card__menu-wrapper">
      <app-card-menu
        (menuToggle)="onMenuBottonClick($event)"
        [card]="card"
        cardSelectorId="card-{{card.id}}"
        ></app-card-menu>
    </div>
    <div class="card__status-wrapper">
      <app-card-status [card]="card" [cardEditable]="cardEditable || cardMenusOpenCt > 0" (menuToggled)="onStatusMenuButtonClick($event)"></app-card-status>
    </div>
  </div>
  <div class="card__footer">
    <app-card-footer [card]="card"></app-card-footer>
  </div>
</div>
