<li class="card" id="card-{{card.id}}" style="width: 17rem"
  (mouseenter)="onMouseEnter($event)"
  (mouseleave)="onMouseLeave($event)"
  [ngClass]="{
    'card--editable': cardEditable == true || cardMenuOpen == true
  }">
  <img class="card__feature-image card-img-top" alt="" src="{{ card.primaryMediaUrl }}">
  <div class="card__body card-body">
    <h5 class="card__title card-title">{{ (card.cardTitle.length > maxTitleStrLength ) ? (card.cardTitle | slice : 0 : maxTitleStrLength) + '...' : card.cardTitle }}</h5>
    <!-- <h5 class="card__title card-title">{{ (testTitle.length > maxTitleStrLength ) ? (testTitle | slice : 0 : maxTitleStrLength) + '...' : testTitle }}</h5> -->
    <app-card-status [card]="card"></app-card-status>
  </div>
  <app-card-footer [card]="card"></app-card-footer>
  <div class="card__menu-wrapper">
    <app-card-menu
      (menuToggle)="onMenuBottonClick($event)"
      [cardTitle]="card.cardTitle"
      [cardId]="card.id"
      cardSelectorId="card-{{card.id}}"
      ></app-card-menu>
  </div>
</li>
