@import "src/scss/_variables.scss";

/********************************************/
/*   # Card Footer                         */
/******************************************/

.card-footer {
  /*position*/
  position: relative;
  /*structure*/
  min-height: 2.5rem;
  /*spacing*/
  padding-top: 12px;
  padding-bottom: 9px;
  /*borders*/
  border-bottom-right-radius: $cardBorderRadius;
  border-bottom-left-radius: $cardBorderRadius;
  /*typography*/
  font-weight: 100;
  font-size: .75rem;
  /*colors*/
  border-color: transparent;
  background-color: $colorLighterGrey;
  color: $colorMediumGrey;

}
