@import 'src/scss/_variables';
@import 'src/scss/_mixins';

/**********************************************************/
/*                                                       */
/*   Card Workflow (card-workflow.component.scss)       */
/*                                                     */
/******************************************************/
/*


*****************
*   Contents:   *
*****************

  # Workflow
  # Label
  # Indicator
  # Dropdown
  # Menu Toggle
    > Card Editable
  # Has Touch

******************/

/********************************************/
/*   # Workflow                            */
/******************************************/

.card-workflow {

  /********************************************/
  /*   # Label                               */
  /******************************************/

  &__label {
    max-width: 100%;
    /*spacing*/
    margin-right: 8px;
    /*typography*/
    font-size: .7rem;
    font-weight: 200;
    letter-spacing: .6px;
    /*colors*/
    color: $colorMediumGrey;

  }


  /********************************************/
  /*   # Indicator                           */
  /******************************************/

  &__indi {
    /*display*/
    display: inline-block;
    /*structure*/
    height: 8px;
    width: 8px;
    /*border*/
    border-radius: 50%;
    /*colors*/
    background-color: $colorLightGrey;

    &--live,
    &--active {
      /*colors*/
      background-color: $colorGreen;
    }

    &--paused,
    &--pending,
    &--saved {
      /*colors*/
      background-color: $colorOrange;
    }

    &--rejected,
    &--declined,
    &--terminated,
    &--expired {
      /*colors*/
      background-color: $colorRed;
    }

  }

  /********************************************/
  /*   # Dropdown                            */
  /******************************************/

  &__dropdown {
    /*position*/
    position: relative;
    right: -5px;
    /*spacing*/
    margin-top: -2px;

  }

  /********************************************/
  /*   # Menu Toggle                         */
  /******************************************/

  &__menu-toggle {

    /*********************
    *  > Card Editable   *
    *********************/

    .card-workflow--editable &  {
      border-color: $colorLightGrey;
    }
  }

}

/********************************************/
/*   # Has Touch                           */
/******************************************/

@include hasTouch {
  .card-workflow {

    /*position*/
    position: relative;
    right: 8px;
    top: -1px;

    &__menu-toggle {
      border-color: $colorLightGrey;
    }
  }
}

/********************************************/
/*   # Has No Touch                        */
/******************************************/


@include hasNoTouch ('card--editable'){
  .card-workflow__label--shrink-on-edit--no-touch {
    /*display*/
    display: inline-block;
    max-width: 16px;
    max-height: 0;
    overflow: hidden;
    /*spacing*/
    margin: 0;
    padding: 0;
  }
}
