<div class="card-workflow" [ngClass]="{
  'card-workflow--editable': cardEditable
}">
  <div ngbDropdown *ngIf="workflowMenuOptions[card.currentWorkflow]; else noWorkflowDropdown"
  class="dropdown drop-menu card-workflow__dropdown"
  placement="bottom-right"
  (openChange)="onOpenChange($event)">
    <button ngbDropdownToggle class="drop-menu__toggle btn btn--stelth card-workflow__menu-toggle">
      <span class="card-workflow__label">{{ card.currentWorkflow | titlecase }}</span>
      <span class="card-workflow__indi card-workflow__indi--{{card.currentWorkflow}}"></span>
    </button>
    <ul ngbDropdownMenu class="drop-menu dropdown-menu-right dropdown-menu--narrow">
      <li *ngFor="let option of workflowMenuOptions[card.currentWorkflow]" class="dropdown-item drop-menu__item">
        <button (click)="onOptionClick(option)" class="btn list-group-item list-group-item-action">{{ option.label }}</button>
      </li>
    </ul>
  </div>
  <ng-template #noWorkflowDropdown>
    <span class="card-workflow__label">{{ card.currentWorkflow | titlecase }}</span>
    <span class="card-workflow__indi card-workflow__indi--{{card.currentWorkflow}}"></span>
  </ng-template>
</div>
