/********************************************/
/*   # Device Sizes                        */
/******************************************/

// anything smaller than small is considered tiny
$deviceWidthSmall: 630px; // width to hold 2 columns
$deviceWidthMedium: 1000px; // width to hold 3 columns
$deviceWidthLarge: 1250px; // width to hold 4 columns
$deviceWidthXLarge: 1550px; // width to hold 5 columns

/********************************************/
/*   # Touch Device                        */
/******************************************/

$touchDropMenuIncrease: 1.2; // scale increase (see mixin touchTransform: ./_mixins.scss)

/********************************************/
/*   # Color Variables                     */
/******************************************/

$colorWhite: rgb(250, 251, 253); // white
$colorLighterGrey: rgb(243, 244, 245);
$colorLightGrey: rgb(220, 221, 222); // light-grey, light-gray
$colorMediumGrey: rgb(150, 151, 152); // medium-grey, medium-gray
$colorDarkGrey: rgb(102, 103, 104); // dark-grey, medium-gray
$colorBlack: rgb(4, 5, 6); // black
$colorOrange: rgb(252, 161, 69); // orange
$colorDarkOrange: rgb(248, 127, 10); // dark-orange
$colorRed: rgb(230, 77, 62); // red
$colorGreen: rgb(17, 196, 32); // green

/********************************************/
/*   # Card Variables                      */
/******************************************/

$cardBorderRadius: 5px;
$cardMarginLeft: .9rem;
$cardMarginRight: .9rem;
$cardWidth: 17rem;
$cardOuterWidth: $cardWidth + $cardMarginLeft + $cardMarginRight;
$cardBackgroundColor: rgb(255, 255, 255);

/********************************************/
/*   # Header Variables                    */
/******************************************/

$headerAllotmentTiny: 80px;
$headerAllotmentSmall: 80px;
$headerAllotmentMedium: 117px;
$headerAllotmentLarge: 117px;
$headerAllotmentXLarge: 117px;
