/********************************************/
/*   # Color Variables                     */
/******************************************/

$colorWhite: rgb(250, 251, 253); // white
$colorLighterGrey: rgb(243, 244, 245);
$colorLightGrey: rgb(220, 221, 222); // light-grey, light-gray
$colorMediumGrey: rgb(150, 151, 152); // medium-grey, medium-gray
$colorDarkGrey: rgb(102, 103, 104); // dark-grey, medium-gray
$colorBlack: rgb(4, 5, 6); // black
$colorOrange: rgb(252, 161, 69); // orange
$colorDarkOrange: rgb(248, 127, 10); // dark-orange
$colorRed: rgb(230, 77, 62); // red
$colorGreen: rgb(17, 196, 32); // green

/********************************************/
/*   # Card Variables                      */
/******************************************/

$cardBorderRadius: 5px;
